@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

.book-cover {
    width: 100%;
    height: 300px;        /* bisa 280 / 320 sesuai selera */
    object-fit: cover;    /* crop rapi */
    object-position: center;
    background-color: #f3f3f3;
}
}
